<div class="container">
<h1>Vrijeme držanja instrukcija/h1>
<div class="table-responsive">

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Ad</th>
      <th>Time</th>
      <th>Reserved</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tutoring_times.each do |tutoring_time| %>
      <tr>
        <td><%= tutoring_time.ad_id %></td>
        <td><%= tutoring_time.time %></td>
        <td><%= tutoring_time.reserved %></td>
        <td><%= link_to 'Show', tutoring_time %></td>
        <td><%= link_to 'Edit', edit_tutoring_time_path(tutoring_time) %></td>
        <td><%= link_to 'Destroy', tutoring_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'Dodaj vrijeme', new_tutoring_time_path, :class => 'btn btn-primary btn-lg btn-block', :method=>'get'%>
</div>