<p id="notice"><%= notice %></p>

<p>
  <strong>Subjectid:</strong>
  <%= @subject_tutor.subjectID %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @subject_tutor.userID %>
</p>

<p>
  <strong>Rateperhour:</strong>
  <%= @subject_tutor.rateperhour %>
</p>

<%= link_to 'Edit', edit_subject_tutor_path(@subject_tutor) %> |
<%= link_to 'Back', subject_tutors_path %>
