<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @tutor.userID %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tutor.name %>
</p>

<p>
  <strong>Familyname:</strong>
  <%= @tutor.familyName %>
</p>

<%= link_to 'Edit', edit_tutor_path(@tutor) %> |
<%= link_to 'Back', tutors_path %>
