<div class="container">
<h1>Privilegije</h1>
<div class="table-responsive">

<table class="table table-bordered table-hover">

  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @privileges.each do |privilege| %>
      <tr>
        <td><%= privilege.name %></td>
        <td><%= privilege.description %></td>
        <td><%= link_to 'Show', privilege %></td>
        <td><%= link_to 'Edit', edit_privilege_path(privilege) %></td>
        <td><%= link_to 'Destroy', privilege, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'Dodaj privilegiju', new_privilege_path, :class => 'btn btn-primary btn-lg btn-block', :method=>'get'%>
</div>
