<h1>Listing tutor_subjects</h1>

<table>
  <thead>
    <tr>
      <th>Subjectid</th>
      <th>Userid</th>
      <th>Rateperhour</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tutor_subjects.each do |tutor_subject| %>
      <tr>
        <td><%= tutor_subject.subject_id %></td>
        <td><%= tutor_subject.tutor_id %></td>
        <td><%= tutor_subject.rateperhour %></td>
        <td><%= link_to 'Show', tutor_subject %></td>
        <td><%= link_to 'Edit', edit_tutor_subject_path(tutor_subject) %></td>
        <td><%= link_to 'Destroy', tutor_subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tutor subject', new_tutor_subject_path %>
