<div class="container">
<h1>Korisnici</h1>
<div class="table-responsive">

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Privilege</th>
      <th>Username</th>
      <th>Password</th>
      <th>Email</th>
      <th>Name</th>
      <th>Family name</th>
      <th>Account activated</th>
      <th>Activation code</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.privilege_id %></td>
        <td><%= user.username %></td>
        <td><%= user.password %></td>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.family_name %></td>
        <td><%= user.account_activated %></td>
        <td><%= user.activation_code %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New User', new_user_path %>
</div>
