<p id="notice"><%= notice %></p>

<p>
  <strong>Privilege:</strong>
  <%= @user.privilege_id %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Family name:</strong>
  <%= @user.family_name %>
</p>

<p>
  <strong>Account activated:</strong>
  <%= @user.account_activated %>
</p>

<p>
  <strong>Activation code:</strong>
  <%= @user.activation_code %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
