<div class="container">
<h1>Predmeti</h1>
<div class="table-responsive">
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Research area</th>
      <th>Name</th>
      <th>Description</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.research_area_id %></td>
        <td><%= subject.name %></td>
        <td><%= subject.description %></td>
        <td><%= link_to 'Show', subject %></td>
        <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
        <td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<%= link_to 'Dodaj predmet', new_subject_path, :class => 'btn btn-primary btn-lg btn-block', :method=>'get'%>
</div>
