<p id="notice"><%= notice %></p>

<p>
  <strong>Subjecttutorid:</strong>
  <%= @subject_tutor_member.subjecttutorID %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @subject_tutor_member.userID %>
</p>

<%= link_to 'Edit', edit_subject_tutor_member_path(@subject_tutor_member) %> |
<%= link_to 'Back', subject_tutor_members_path %>
