<div class="container">
<h1>Zakazane instrukcije</h1>
<div class="table-responsive">

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Tutoring time</th>
      <th>Member</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.tutoring_time_id %></td>
        <td><%= appointment.member_id %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
     </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'Zakazi instrukcije', new_appointment_path, :class => 'btn btn-primary btn-lg btn-block', :method=>'get'%>
</div>