<h1>Listing member_subject_tutors</h1>

<table>
  <thead>
    <tr>
      <th>Subjecttutorid</th>
      <th>Userid</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @member_subject_tutors.each do |member_subject_tutor| %>
      <tr>
        <td><%= member_subject_tutor.subjecttutorID %></td>
        <td><%= member_subject_tutor.userID %></td>
        <td><%= link_to 'Show', member_subject_tutor %></td>
        <td><%= link_to 'Edit', edit_member_subject_tutor_path(member_subject_tutor) %></td>
        <td><%= link_to 'Destroy', member_subject_tutor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subject tutor member', new_member_subject_tutor_path %>
