<div class="container">
<h1>Područje nauke</h1>
<div class="table-responsive">

<table class="table table-bordered table-hover">


  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @research_areas.each do |research_area| %>
      <tr>
        <td><%= research_area.name %></td>
        <td><%= research_area.description %></td>
        <td><%= link_to 'Show', research_area %></td>
        <td><%= link_to 'Edit', edit_research_area_path(research_area) %></td>
        <td><%= link_to 'Destroy', research_area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
       </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'Dodaj područje', new_research_area_path, :class => 'btn btn-primary btn-lg btn-block', :method=>'get'%>
</div>